body{
  margin: 0;
  width: 100%;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .nav-link{
  display: inline;
  padding-left: 10px;
  }
  .main-header {
  background-color: #001349;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  }
  .logo{
  float: left;
  width: 25%;
  height: 81px;
  }
  .head{
  float: left;
  width: 75%;
  }
  .main-header:after {
  content: "";
  display: table;
  clear: both;
  }
  .primary-heading{
  font-size: 20px;
  }
  .secondary-heading{
  font-size: 15px;
  padding-bottom: 2px;
  padding-top: 0px;
  }
  .sec-nav>*{
  background-color: #373737;
  opacity: 0.9;
  margin: 0;
  padding: 8px;
  padding-left: 115px;
  }
  .pri-nav>*{
  background-color: #191919;
  opacity: 0.9;
  margin: 0;
  padding: 8px;
  padding-left: 170px;
  }
  .sec-link:hover{
  color: lightgray;
  }
  .pri-link:hover{
  color: lightgray;
  }
  .head-image{
  width: 90px;
  height: 80px;
  padding-left: 50%;
  }
  .sec-link{
  color: white;
  text-decoration: none;
  font-size: 10px;
  padding-left: 10px;
  transition: all 0.5s ease-out;
  }
  .pri-link{
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding-left: 10px;
  transition: all 0.5s ease-out;
  }
  .left-col{
  float: left;
  width: 30%;
  }
  .right-col{   
  float: left;
  width: 30%;
  }
  .middle-col{
  float: left;
  width: 40%;
  
  }
  .main:after {
  content: "";
  display: table;
  clear: both;
  }
  .left-col-left{
  float: left;
  width: 60%;
  }
  .left-col-right{
  float: right;
  width: 40%
  }
  .left-col:after {
  content: "";
  display: table;
  clear: both;
  }
  .right-col-left{
  float: left;
  width: 40%;
  }
  .right-col-right{
  float: right;
  width: 60%;
  }
  .right-col:after {
  content: "";
  display: table;
  clear: both;
  }
  .content-heading{ 
  /* padding-left: 7px; */
  font-size: 15px;
  color: #373737;
  }
  .content-links{
  font-size: 14px;
  color: #001349;
  text-decoration: none;
 
  }
  .content-links:hover{
  text-decoration: underline;
  color: #191919;
  }
  .content-links:active{
     color: #191919;
  }
  .scrollable {
  width: 200px;
  height: 300px;
  overflow: scroll;
  }
        footer{
  background-color: #191919;
  color: white;
  color: gray;
  font-size: 13px;
  padding: 30px;
  text-align: right;
}   
.uni-pic{
  width: 580px;
  padding-top: 50px;
  padding-right: 50px;
}